<table border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
  <tbody><tr>
    <td>&nbsp;</td>
    <td align="center"><a href="../home/"><img src="../img/header_left.gif" width="701" height="133" alt="Employee Management Services" border="0"></a><a href="http://www.napeo.org/" target="_blank"><img src="../img/header_right.gif" width="250" height="133" alt="NAPEO" border="0"></a></td>
    <td>&nbsp;</td>
  </tr>
  <tr bgcolor="#00477F">
    <td>&nbsp;</td>
    <td>
      <table width="951" border="0" cellspacing="3" cellpadding="0">
        <tbody><tr> 
          <td width="30"><img src="../img/spacer.gif" width="26" height="32"></td>

          <td width="150"><a class="a14active" href="../servicesResources/default.aspx?p=4">About Us</a></td>

          <td width="157"><a class="a14" href="../emsAdvantage/">EMS Advantage</a></td>

          <td width="210"><a class="a14" href="../servicesResources/">Services and Resources</a></td>

          <td width="170"><a class="a14" href="../connectWithUs/">Connect with Us</a></td>
          <td width="213"><a class="a14" href="../clientsEmployees/">Client/Employee Login</a></td>
        </tr>
      </tbody></table>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr bgcolor="#8AC0E9">
    <td colspan="3"><img src="../img/spacer.gif" width="1" height="3"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center" width="951">
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tbody><tr>
          <td rowspan="2" valign="top">
            <a href="default.aspx?p=1"><img src="../img/sub_services01.jpg" width="240" height="109" alt="We Give You Choices" border="0"></a><br>
            <a href="default.aspx?p=2"><img src="../img/sub_services02.jpg" width="240" height="109" alt="More Options for You and Your Employees" border="0"></a><br>
            <a href="default.aspx?p=3"><img src="../img/sub_services03.jpg" width="240" height="109" alt="Your Information at Your Command" border="0"></a><br>
            <a href="default.aspx?p=4"><img src="../img/sub_services04.jpg" width="240" height="109" alt="About Us" border="0"></a><br>
          </td>
          <td valign="top"><img src="../img/spacer.gif" width="711" height="15"></td>
        </tr>
        <tr>
          <td valign="top" class="bodyText">

            <h3>About Us</h3>
            Employee Management Services was founded in 1994 and provides professional human resource solutions to more than 160 companies and their 5,500+ employees. We focus our solutions on those companies in Ohio, Kentucky, and Indiana, but we are licensed to provide our services in other states. By maintaining this regional focus, we offer an unmatched level of professional services to our clients and their employees.  
	    <br><br>
	    Employee Management Services is a division of Staffmark, one of the top 10 commercial staffing companies in the United States. With over 30 years experience and 300+ branch locations, Staffmark provides specialized staffing solutions to business across the country.  In 2011, Staffmark became part of Recruit Holdings Co., Ltd., the fourth largest staffing firm in the world.  We are proud to be a Human Resource Services leader in the world committed to customer service.
	    <br><br>
	    <b>Corporate Headquarters</b><br>
	    Employee Management Services<br>
	    201 E. 4th Street, Suite 700<br>
	    Cincinnati, OH 45202<br>
	    877.852.0688<br>
	    513.651.3244<br>
	    <a href="mailto:info@emshro.com">info@emshro.com</a>
	    <br><br>
	    <b>Branch Locations</b><br>
	    Columbus, OH<br>
	    614.418.7581
	    <br><br>
	    Cleveland, OH<br>
	    877.852.0688
	    <br><br>
	    Dayton, OH<br>
	    877.852.0688
            <br><br>

          </td>
        </tr>
      </tbody></table>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3"><img src="../img/spacer.gif" width="1" height="20"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center" class="textBlue12">
      <p>&nbsp;</p>
      <a class="a12" href="../home/">Home</a> | <a class="a12" href="../servicesResources/default.aspx?p=4">About Us</a> | <a class="a12" href="../emsAdvantage/">EMS Advantage</a> | <a class="a12" href="../servicesResources/">Services &amp; Resources</a> | <a class="a12" href="../connectWithUs/">Connect With Us</a> | <a class="a12" href="../clientsEmployees/" target="_blank">Client/Employee Login</a> | <a class="a12" href="https://www.staffmarkgroup.com/privacy">Privacy Policy</a>
      <p>© 2022. All rights reserved.<br>We are committed to providing equal employment opportunity for all persons regardless of<br>race, color, religion, sex, age, marital status, national origin,  disability, or veteran status.<br>Employee Management Services is a subsidiary business of Recruit Holdings Company, Ltd.</p>
      <p>&nbsp;</p>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#999999">&nbsp;</td>
    <td bgcolor="#999999">&nbsp;<img src="../img/spacer.gif" width="1" height="60"></td>
    <td bgcolor="#999999">&nbsp;</td>
  </tr>
</tbody></table>