{% extends 'base.html' %}
{% block aboutusactive %} active {% endblock aboutusactive %}
{% load static %}

{% block content %}
<title>About G-Force</title>

<div class="container-fluid">
  <div class="row">
    
    <div class="col-sm-3" style="background-color:white; text-align:right"><img src="{% static 'abt_us01.jpg' %}" ></div>

    <div class="col-sm-9" style="background-color:white; text-align:left" ><h4>About Us</h4>
G-Force Management Services was founded in 2009 and provides professional human resource solutions to more than 100+ companies 
and their 2500+ employees. We focus our solutions on those companies in Bengalore, Chennai, Hyderabad, Kolkata & Delhi. but we are licensed to 
provide our services in other states also. By maintaining this regional focus, we offer an unmatched level of professional services 
to our clients and their employees.</div>
  </div>
<br>
<div class = "row"> 

    <div class="col-sm-3" style="background-color:white; text-align:right"><img src="{% static 'abt_us02.jpg' %}" ></div>
   <div class="col-sm-9" style="background-color:white; text-align:left" >
G-Force Management Services is a division of K-Marks, one of the top 10 commercial staffing companies in India. 
With over 10 years experience and 10+ branch locations, Karan Group provides specialized staffing solutions to business across 
the country. In 2015, K-Marks became part of Recruit Holdings Co., Ltd., the send largest EMS firm in the country. 
We are proud to be a Human Resource Services leader in the world committed to customer service. </div>
</div>

<div class = "row">
    <div class="col-sm-3" style="background-color:white; text-align:right"><img src="{% static 'abt_us03.jpg' %}" ></div>
<div class="col-sm-9" style="background-color:white; text-align:left" >
Your business is just that, your business. You maintain complete control of:<br>
<ul>
<li>Managing and directing the day-to-day business operations and worksite employees in the creation and delivery of your products and services.</li>
<li>Providing worksite employees with the tools, instruments, and safe place of work.</li>
<li>Aligning and supporting the employee and employer relationship.</li>
<li>Full-service payroll and required tax processing for your business.</li>
<li>Approving and endorsing company policies and procedures.</li>
<li>Approving all benefit programs offered to the worksite employees.</li>
</ul>  </div>

</div>

    <div class="col-sm-3" style="background-color:white; text-align:right"><img src="{% static 'abt_us04.jpg' %}" ></div>

</div>

{% endblock %}
  