{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>G-TASK Portal</title>
<div class="container">
  <img src="{% static 'home01.jpg' %}" class="float-left" width="50%" height="300" >
  <img src="{% static 'home_text.gif' %}" class="float-right" width="50%" height="300">
</div>

<div class="container">
  <table class="table" style="background-color:rgb(255, 99, 71);">
    <thead>
      <tr>
	  <th> </th>
	  <th> </th>
        <th><img src= "{% static 'home_emsadv.jpg' %}" width="150" height="150" ></th>
        <th><img src= "{% static 'home_services.jpg' %}" width="150" height="150"></th>
        <th><img src= "{% static 'home_connect.jpg' %}" width="150" height="150" ></th>
	  <th><img src= "{% static 'home_clients.jpg' %}" width="150" height="150"> </th>
      </tr>
    </thead>
  </table>
</div>
{% endblock %}
