{% extends 'base.html' %}
{% block loginactive %} active {% endblock loginactive %}
{% load static %}
{% block content %}
<title>Login</title>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3" style="background-color:white; text-align:right" ><a href="/signin"><img src="{% static 'emplogin.jpg' %}" ></a></div>  

    <div class="col-sm-9" style="background-color:white; text-align:left" ><h4>Current Clients and Employees</h4>
Thank you for being a paervices. To access your account, please click on the lin
<br>

We work hard to provide you with resources and perks for being a part of our company. 
For more information on the resources available to you.</div>
  </div>
</div>

{% endblock %}
greenpp style=text-align:"left"="text-center"center       <div class="modal-footer d-flex justify-content-center">
Pssap-defaultForm YourdefaultForm-pass data-error="wrong" data-success="right"          <label data-error="wrong" data-success="right" for="defa